@import '../abstract/constants';
.promo {
  height: calc(100vh - 162px);
  width: calc(100vw + 20px);
  overflow: hidden;
  padding: 0;
  box-shadow: 0 0 8px 8px $color-dark inset;
  background-image: url('../../assets/img/london.jpg');
  background-size: cover;
}

.promo__title {
  width: 280px;
  font-size: 42px;
  text-align: center;
  font-weight: 700;
  color: $color-light;
  color: $color-light;
  span {
    @include styled-text();
  }
}

.promo__wrapper {
  margin: auto;
  height: 100%;
  width: 300px;
  background-color: $color-dark;
  @include vertical-flex();
}